# Documentation ignores (logs latex, etc)
documentation/*.auxd
documentation/*.idxd
documentation/*.lofd
documentation/*.logd
documentation/*.lotd
documentation/*.toc
documentation/*.aux
documentation/*.bbl
documentation/*.blg
documentation/*.brf
documentation/*.fls
documentation/*.fdb_latexmk
documentation/*.idx
documentation/*.ilg
documentation/*.ind
documentation/*.lof
documentation/*.log
documentation/*.lot

# Presentation ignores (logs latex, etc)

slides/**/*.auxd
slides/**/*.idxd
slides/**/*.lofd
slides/**/*.logd
slides/**/*.nav
slides/**/*.lotd
slides/**/*.toc
slides/**/*.out
slides/**/*.aux
slides/**/*.bbl
slides/**/*.blg
slides/**/*.brf
slides/**/*.fls
slides/**/*.fdb_latexmk
slides/**/*.idx
slides/**/*.ilg
slides/**/*.ind
slides/**/*.lof
slides/**/*.log
slides/**/*.lot
slides/**/*.snm
slides/**/*.aux
slides/**/*.auv
