# Documentation ignores (logs latex, etc)
documentation/*.auxd
documentation/*.idxd
documentation/*.lofd
documentation/*.logd
documentation/*.lotd
documentation/*.toc
documentation/*.aux
documentation/*.bbl
documentation/*.blg
documentation/*.brf
documentation/*.fls
documentation/*.fdb_latexmk
documentation/*.idx
documentation/*.ilg
documentation/*.ind
documentation/*.lof
documentation/*.log
documentation/*.lot

# Presentation ignores (logs latex, etc)

presentation/*.auxd
presentation/*.idxd
presentation/*.lofd
presentation/*.logd
presentation/*.lotd
presentation/*.toc
presentation/*.aux
presentation/*.bbl
presentation/*.blg
presentation/*.brf
presentation/*.fls
presentation/*.fdb_latexmk
presentation/*.idx
presentation/*.ilg
presentation/*.ind
presentation/*.lof
presentation/*.log
presentation/*.lot
