# Documentation ignores (logs latex, etc)
src/*.auxd
src/*.idxd
src/*.lofd
src/*.logd
src/*.lotd
src/*.toc
src/*.aux
src/*.bbl
src/*.blg
src/**/**/*.bak
src/*.brf
src/*.fls
src/*.fdb_latexmk
src/*.idx
src/*.ilg
src/*.ind
src/*.lof
src/*.log
src/*.lot

# Presentation ignores (logs latex, etc)

slides/**/*.auxd
slides/**/*.idxd
slides/**/*.lofd
slides/**/*.logd
slides/**/*.nav
slides/**/*.lotd
slides/**/*.toc
slides/**/*.out
slides/**/*.aux
slides/**/*.bbl
slides/**/*.blg
slides/**/*.brf
slides/**/*.fls
slides/**/*.fdb_latexmk
slides/**/*.idx
slides/**/*.ilg
slides/**/*.ind
slides/**/*.lof
slides/**/*.log
slides/**/*.lot
slides/**/*.snm
slides/**/*.aux
slides/**/*.auv
